amqp
annotated-types
asgiref
asttokens
Babel
beautifulsoup4
billiard
boost_histogram
boto3
botocore
celery
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
contourpy
crispy-bootstrap5
cron-descriptor
cycler
debugpy
decorator
distlib
dj-database-url
dj-rest-auth
Django
django-appconf
django-bootstrap-datepicker-plus
django-bootstrap-v5
django-bs4
django-celery-beat
django-ckeditor
django-compressor
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-froala-editor
django-haystack
django-jazzmin
django-js-asset
django-money
django-requests
django-ses
django-simple-pagination
django-social-share
django-storages
django-tailwindcss
django-timezone-field
djangorestframework
djangorestframework-simplejwt
elastic-transport
elasticsearch
env
executing
filelock
fonttools
hist
histoprint
idna
ipykernel
ipython
jedi
jmespath
jupyter_client
jupyter_core
kiwisolver
kombu
matplotlib
matplotlib-inline
mysqlclient
nest-asyncio
numpy
packaging
pandas
parso
Pillow
pipenv
platformdirs
prompt-toolkit
psutil
psycopg2
psycopg2-binary
pure-eval
py-moneyed
pydantic
pydantic_core
pygame
Pygments
PyJWT
pyparsing
python-crontab
python-dateutil
python-dotenv
pytz
pyzmq
rcssmin
redis
requests
rjsmin
s3transfer
setuptools
six
sorl-thumbnail
soupsieve
sqlparse
stack-data
tornado
traitlets
typing_extensions
tzdata
uhi
urllib3
vine
virtualenv
wcwidth
wheel